{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.request.server.get('APP_NAME') }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/tdmMovies.js') }}"></script>
{% endblock %}

{% block body %}
 <div class="container">
     <!-- TOP Rated Movie -->
     <div class="row">
         {% for key, topMovie in items.top %}
             <div class="embed-responsive embed-responsive-16by9">
                 {% if key == "movie_streaming_path" %}
                     <iframe class="embed-responsive-item" src="{{ topMovie }}" allowfullscreen height="100%" width="100%"
                             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 {% endif %}
             </div>
         {% endfor %}
     </div>
     <div class="row">
         <div class="col-md-4">
             <div id="movies-gender-list">
                 {% for genders in items.genders %}
                    {% for gender in genders %}
                        <div class="row-fluid">
                            <input type="radio" id="contactChoice{{ gender.id }}" name="contact" value="{{ gender.id }}">
                            <label for="contactChoice{{ gender.id }}">{{ gender.name }}</label>
                        </div>
                     {% endfor %}
                 {% endfor %}
            </div>
         </div>
         <div class="col-md-8">
             <div class="row">
                 <section id="movies-list"></section>
                 <!-- Modal -->

                 <div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                         <div class="modal-content">
                             <div class="modal-body">
                                 <div class="embed-responsive embed-responsive-16by9 embed-movie-modal">
                                     <iframe width="100%" height="100%" id="modal_stream_movie"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                     <div id="modal_stream_movie_description"></div>
                                 </div>
                             </div>
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>
         </div>
     </div>
 </div>
{% endblock %}
